@font-face {
  font-weight: normal;
  font-family: 'Futura-Bold';
  src: url("../fonts/Futura/futura-pt-demi.ttf");
}

@font-face {
  font-weight: normal;
  font-family: 'Futura-Regular';
  src: url("../fonts/Futura/futura-pt-cond-book-oblique.ttf");
}

body {
    margin: 0;
    font-family: 'Futura-Bold', sans-serif;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для изображения в модальном окне */
#modalImage {
  height: 80vh;
}

#image {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.top-menu {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #212529;
}
.servicePriceButton {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 2px;
    color: white;
    width: 300px;
    height: 40px;
    margin: 5px 10px;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.servicePriceButton:hover {
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
}

.servicePrice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .top-info {
        padding: 0 10vw;
        display: flex;
    }

    .top-item {
        padding: 0px 10px;
        color: white;
        text-decoration:none;
    }

    .top-icon {
        color: orange;
    }

    a {
        text-decoration: none;
    }

    .top-item:hover {
        text-decoration: underline white;
    }

    .white-menu {
        margin: 0;
        display: block;
        text-align: center;
        font-size: 30px;
        line-height: 5%;
        border-top: solid green;
        border-bottom: solid green;
        background-image: url(img/back.jpg);
    }

.black-menu {
    display: flex;
    color: white;
    background-color: #212529;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.9);
}

    .black-item {
        color: white;
    }

    .interior {
        padding: 10px 80px;
        margin: 0;
        text-align: center;
    }

    .hidden-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 0;
        padding: 0 55px;
        background: none;
        background-image: url(img/back.jpg);
        background-size: cover;
        z-index: 1;
        visibility: hidden;
        border: solid 1px black;
        border-radius: 5%;
        line-height: 50%;
    }

    .hidden-item {
        color: black;
        text-decoration-line: underline;
    }

    .black-item:hover .interior {
        background-color: green;
    }

    .black-item:hover .hidden-menu {
        visibility: visible;
    }

    .name {
        position: absolute;
        padding: 10px;
        text-align: center;
        width: 60%;
        top: 220px;
        left: 20vw;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 3px;
        color: black;
        border-radius: 3%;
        z-index: 1;
        line-height: 30%;
        visibility: visible;
        box-sizing: border-box;
        text-shadow: 0 -5px 3px #ffffff, 0 -5px 3px #ffffff, 0 5px 3px #ffffff, 0 5px 3px #ffffff, -5px 0 3px #ffffff, 5px 0 3px #ffffff, -5px 0 3px #ffffff, 5px 0 3px #ffffff, -1px -5px 3px #ffffff, 1px -5px 3px #ffffff, -1px 5px 3px #ffffff, 1px 5px 3px #ffffff, -5px -1px 3px #ffffff, 5px -1px 3px #ffffff, -5px 1px 3px #ffffff, 5px 1px 3px #ffffff, -2px -5px 3px #ffffff, 2px -5px 3px #ffffff, -2px 5px 3px #ffffff, 2px 5px 3px #ffffff, -5px -2px 3px #ffffff, 5px -2px 3px #ffffff, -5px 2px 3px #ffffff, 5px 2px 3px #ffffff, -3px -5px 3px #ffffff, 3px -5px 3px #ffffff, -3px 5px 3px #ffffff, 3px 5px 3px #ffffff, -5px -3px 3px #ffffff, 5px -3px 3px #ffffff, -5px 3px 3px #ffffff, 5px 3px 3px #ffffff, -4px -5px 3px #ffffff, 4px -5px 3px #ffffff, -4px 5px 3px #ffffff, 4px 5px 3px #ffffff, -5px -4px 3px #ffffff, 5px -4px 3px #ffffff, -5px 4px 3px #ffffff, 5px 4px 3px #ffffff, -5px -5px 3px #ffffff, 5px -5px 3px #ffffff, -5px 5px 3px #ffffff, 5px 5px 3px #ffffff, -5px -5px 3px #ffffff, 5px -5px 3px #ffffff, -5px 5px 3px #ffffff, 5px 5px 3px #ffffff;
    }

    .white-name {
        color: black;
        padding: 10px;
    }

.red-color {
    color: red;
}

.grey-color {
    color: grey;
}

.head-section {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: white;
    background-color: #212529;
    border-top: solid green;
    border-bottom: solid green;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0;
    justify-content: center;
    color: rgb(49, 45, 45);
}

    .services-item {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        margin: 10px 15px;
        padding: 0;
        width: 350px;
        height: 150px;
        border: solid 1px;
        color: black;
        box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.7);
        background-image: url(img/back1.jpg);
        background-size: cover;
    }

    .services-item2 {
        display: flex;
    }

    .servies-name {
        margin: 0;
        padding: 10px 0 0 10px;
    }

    .main-item:hover .services-item{
        color: white;
        background-image: url(img/back2.jpg);
    }

    .par-text {
        padding: 0 0 10px 10px;
        width: 180px;
        line-height: 80%;
        font-size: small;
    }

    .services-img {
        position: absolute;
        right: 0;
    }

footer {
    margin: 0 0 0 0;
    color: white;
    background-color: rgb(37, 33, 33);
}

#footer-menu {
    display: flex;
    justify-content: center;
}

    .footer-item {
        padding: 50px 50px 20px 50px;
        color: white;
    }

    #ad {
        text-align: center;
        line-height: 0%;
        padding-bottom: 30px;
    }

    #signature {
        display: flex;
        justify-content: center;
        font-size: small;
    }

    #creator {
        padding-left: 30vw;
    }

.align-right {
    text-align: right;
}

.descriptions {
    margin: 10px 10vw;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.7);
    background-image: url(img/back1.jpg);
    background-size: cover;
}

    .head-description {
        display: flex;
        padding: 10px 10px;
    }

    .description-item {
        margin: 0;
        padding: 0 5px;
        color: grey;
        font-size: small;
    }

    .info-description {
        padding: 0 20px 20px 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
        padding: 0 70px 0 0;
        line-height: 10%;
    }

    .print-price {
        display: flex;
    }

.slides {
        position: absolute;
        margin: 0;
        height: 500px;
        width: 100%;
        z-index: 0;
    }

    .slides1 {
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #slides {
        height: 500px;
        width: 100%;
    }

    .info-descript {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .descript-item {
        width: 30%;
    }

    .photo-copi {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .photo-hor {
        margin: 10px;
        padding: 3px 2px;
        width: 28vw;
        height: 30vh;
        border: solid 2px;
    }


    .photo-vert {
        margin: 10px;
        padding: 3px 2px;
        width: 20vw;
        height: 30vh;
        border: solid 2px;
    }

    .bord-black {
        background-color: black;
    }

    .left-top {
        position: absolute;
        left: 7%;
        top: 5vh;
    }

    .right-top {
        position: absolute;
        right: 7%;
        top: 5%;
    }

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:30px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-size:11px;
}

.map {
    width: 100%;
    height: 350px;
    visibility: visible;
}

.map1 {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 30vw;
}

#navigatsionaya {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 10px;
  left: 50px; 
  z-index: 2;  
  -webkit-user-select: none;
  user-select: none;
  padding: 5px;
}

#navigatsionaya a{
  text-decoration: none;
  color: #232323; 
  transition: color 0.3s ease;
}

#navigatsionaya a:hover{
  color: tomato;
}

#navigatsionaya input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0;  
  z-index: 2;  
  -webkit-touch-callout: none;
}

#navigatsionaya span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff8f8;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#navigatsionaya span:first-child{
  transform-origin: 0% 0%;
}

#navigatsionaya span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#navigatsionaya input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#navigatsionaya input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#navigatsionaya input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}

#navigation{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#navigation li{
  padding: 10px 0;
  font-size: 22px;
}

#navigatsionaya input:checked ~ ul{
  transform: none;
}

@media screen and (max-width: 1000px) {
    .empty-menu {
        height: 50px;
        top: 0;
        background-color: #212529;
    }

    #navigatsionaya {
        display: block;
        position: absolute;
        visibility: visible;
        margin: 0;
    }

    .interior {
        padding: 0;
    }

    .top-menu {
        visibility: hidden;
        position: absolute;
    }

    .name {
        top: 180px;
        font-size:  16px;
        line-height: 15px;
    }

    .slides {
        height: 55vh;
    }

    #slides {
        height: 55vh;
    }

    #adress-menu {
        margin-left: 10px;
        padding-left: 0;
    }

    .black-menu {
        visibility: hidden;
        position: absolute;
    }

    .top-info {
        position: absolute;
    }

    .photo-hor {
        width: 20vw;
        height: 20vh;
    }

    .photo-vert {
        width: 16vw;
        height: 20vh;
    }
}

@media screen and (max-width: 800px) {
    #modalImage {
        height: 60vh;
    }

    .name {
        font-size: 15px;
        top: 110px;
        line-height: 1em;
    }

    .slides {
        height: 35vh;
    }

    #slides {
        height: 35vh;
    }
    
    .white-menu {
        font-size: 20px;
    }

    .left-top {
        width: 120px;
    }

    .right-top {
        width: 120px;
    }

    .photo {
        width: 20vw;
        height: 15vh;
    }
    
    .info-descript {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .descript-item {
        width: 80%;
        padding: 10%;
    }
}

@media screen and (max-width: 600px) {
    #modalImage {
        height: 40vh;
    }

    .photo-copi {
        padding: 0;
        margin: 0;
    }

    #navigation{
        position: absolute;
        width: 180px;
    }

    .white-menu {
        font-size: 15px;
    }

    .left-top {
        top: 50px;
        width: 80px;
    }

    .right-top {
        top: 50px;
        width: 80px;
    }

    .name {
        top: 80px;
        font-size: 12px;
        min-width: 100%;
        left: 0;
    }

    .slides {
        height: 25vh;
    }

    #slides {
        height: 25vh;
    }

    #footer-menu {
        flex-direction: column;
        font-size: small;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-item {
        padding: 10px;
        margin: 0;
        text-align: center;
    }

    #ad {
        font-size: x-small;
    }

    #signature {
        font-size: x-small;
    }

    #creator {
        padding: 0 20px;
    }

    .info-description h3 {
        font-size: medium;
    }

    .info-description p {
        font-size: small;
    }

    .black-item h3 {
        font-size: medium;
    }

    .info-description h1 {
        font-size: medium;
    }

    .print-price {
        flex-direction: column;
    }

    li {
        font-size: small;
    }
}

@media screen and (max-width: 400px) {
    #modalImage {
        height: 30vh;
    }

    .name {
        top: 100px;
        font-size: 8px;
        line-height: 15px;
    }

    .white-menu {
        font-size: 10px;
        line-height: 0px;
    }

    .left-top {
        top: 45px;
        width: 70px;
    }

    .right-top {
        top: 45px;
        width: 70px;
    }

    #ad {
        font-size: xx-small;
        flex-wrap: wrap;
    }

    .photo-hor {
        width: 80px;
        height: 80px;
        margin: 2px 2px;
        padding: 1px;
    }

    .photo-vert {
        width: 60px;
        height: 80px;
        margin: 2px 2px;
        padding: 1px;
    }
    
    .photo-copi {
        margin: 0;
        padding: 0;
    }

    .info-description {
        font-size: large;

    }

    .print-price {
        flex-direction: column;
    }

    .services-item {
        width: 300px;
        padding: 0;
        margin: 10px 0;
    }

    .services-img {
        position: absolute;
        width: 120px;
        bottom: 0;
        right: 0;
    }
}

